<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.magnum.logger">

    <uses-feature android:name="android.hardware.wifi" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <permission
        android:name="org.magnum.logger.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="org.magnum.logger.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--    <uses-permission android:name="android.permission.BATTERY_STATS" />-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Translucent.NoTitleBar">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MapActivity" />

        <service android:name=".Controller" />
        <service android:name=".OneTimer" />
        <service android:name=".SyncService" />
        <service android:name=".user.applications.RunningApplicationHandler" />
        <service android:name=".communication.calls.CallLogReader" />
        <service android:name=".communication.messaging.MessageListReader" />
        <service android:name=".connectivity.bluetooth.PairedDeviceReader" />
        <service android:name=".connectivity.wifi.RegisteredNetworksReader" />

        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.EXTERNAL_APPLICATIONS_AVAILABLE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".communication.calls.CallHandler">
            <intent-filter android:priority="0">
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_VOICEMAIL" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".communication.messaging.ReceivedMessageHandler"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".communication.messaging.SentMessageHandler">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_SENT" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.magnum.logger.connectivity.bluetooth.BluetoothHandler">
            <intent-filter>
                <!-- <action android:name="android.bluetooth.adapter.action.CONNECTION_STATE_CHANGED" /> -->
                <!-- <action android:name="android.bluetooth.adapter.action.DISCOVERY_STARTED" /> -->
                <!-- <action android:name="android.bluetooth.adapter.action.DISCOVERY_FINISHED" /> -->
                <!-- <action android:name="android.bluetooth.adapter.action.LOCAL_NAME_CHANGED" /> -->
                <!-- <action android:name="android.bluetooth.adapter.action.SCAN_MODE_CHANGED" /> -->
                <!-- <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" /> -->
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
                <action android:name="android.bluetooth.device.action.BOND_STATE_CHANGED" />
                <action android:name="android.bluetooth.device.action.FOUND" />
                <!-- <action android:name="android.bluetooth.devicepicker.action.DEVICE_SELECTED" /> -->
                <!-- <action android:name="android.bluetooth.headset.profile.action.CONNECTION_STATE_CHANGED" /> -->
                <!-- <action android:name="android.bluetooth.input.profile.action.CONNECTION_STATE_CHANGED" /> -->
                <!-- <action android:name="android.bluetooth.pan.profile.action.CONNECTION_STATE_CHANGED" /> -->
            </intent-filter>
        </receiver>
        <receiver android:name=".connectivity.devices.DockHandler">
            <intent-filter>
                <action android:name="android.intent.action.DOCK_EVENT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".connectivity.usb.UsbHandler">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_DETACHED" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
                <action android:name="android.intent.action.UMS_CONNECTED" />
                <action android:name="android.intent.action.UMS_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".connectivity.wifi.WifiHandler">
            <intent-filter>
                <!--                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />-->
                <!--                <action android:name="android.net.wifi.supplicant.CONNECTION_CHANGE" />-->
                <!--                <action android:name="android.net.wifi.SCAN_RESULTS" />-->
                <action android:name="android.net.wifi.supplicant.STATE_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".device.modes.ModeHandler">
            <intent-filter>
                <action android:name="android.media.RINGER_MODE_CHANGED" />
                <action android:name="android.intent.action.AIRPLANE_MODE" />
                <action android:name="android.intent.action.DOCK_EVENT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".device.power.PowerHandler">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.BATTERY_OK" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".user.applications.ApplicationHandler">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_FIRST_LAUNCH" />
                <action android:name="android.intent.action.PACKAGE_CHANGED" />
                <action android:name="android.intent.action.PACKAGE_DATA_CLEARED" />
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_RESTARTED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".user.location.LocationHandler">
            <intent-filter>
                <action android:name="android.intent.action.PROVIDER_CHANGED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>